<div class="card-deck">
  <div class="card">
    <div class="card-header">
      <h1>Overview of the items</h1>
      <input type="text" #searchItems (keyup)="searchFilter(searchItems.value)" placeholder="Search for items..">
    </div>
    <table class="table" id="table-items">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Name</th>
          <th scope="col">Description</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of $items | async">
          <th scope="row" (click)="onSelectItem(item.id)">{{item.id}}</th>
          <td (click)="onSelectItem(item.id)">{{item.name}}</td>
          <td (click)="onSelectItem(item.id)">{{item.description}}</td>
          <td><i class="fa fa-trash pr-2" (click)="deleteItem(item.id)">&nbsp;</i></td>
        </tr>
      </tbody>
    </table>
    <div class="card-footer">
      <a class="btn btn-success button-right" [routerLink]="['/items','new']">New</a>
    </div>
  </div>
</div>